form.buscador_form p{
  position:relative !important;
  margin-bottom: 0px !important;
  color: #B8B7B7 !important; 
} 

form.contacto_form label.infield
{
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-left: 10px !important;
} 

.upload_error p{
  color: red !important;
}
